/* About Section Styles */
.about-section {
    padding: 50px 0;
    text-align: center;
}

.about-section p {
    font-size: 1.1em;
    color: #555;
    margin-bottom: 15px;
    text-align: justify; /* Justify paragraphs for better readability */
}

.about-section h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
}
/* Container Styles */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/* styles_contact.css */

.container2 {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
}

.contact-section h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.contact-form label {
    display: block;
    margin-bottom: 10px;
    color: #333;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.contact-form textarea {
    height: 150px;
}

.contact-form button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: #0056b3;
}
